*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'JetBrains Mono', monospace;
}
body{
    background: url(./assets/images\ \(5\).png) center ;
    /* background: url("./assets/") center ; */
    
}
.main{
    display: flex;
flex-direction: column  ;
justify-content: center;
/* align-items: center; */
width: 100%;
}
.box{
    margin-left: 15%;
    margin-top: 1.3%;
    margin-bottom: 1.3%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
}
.gif-item{
    width: 100%;
    display: flex;
    justify-content: center;
}
p{
    font-size: 1.3em;
}
ul{
    font-size: 1em;
    font-weight: 400;

}
.heading{
    margin-top: 2%;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#heading-gif{
    justify-content: center;
    width: 20%;
    height: auto;
}
@media only screen and (max-width: 600px) {
    /* 768px is usually the width of tablets in portrait orientation */
    /* You can use any other size you see fit */
    p{
        font-size: 0.8rem;}
    ul{
        font-size: 0.6rem;
    }
    #heading-gif{

    justify-content: center;

    width: 15%;

    height: auto;

}
    .gif-item{
        margin: 1.8% 0%;
    }
        /* img {width: 100%;} */
        
    }
