*{
    margin: 0;
    padding: 0;
    color: white;
    
}
body{
    background: url("./assets/devi.jpg") center ;
    background-size: cover;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    
    align-items: center;
}
.brush-menu{
    margin-left: 8%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    
}
.brush-menu img   {
width: 35%;
height: auto;

}

@media only screen and (max-width: 600px) {
    /* 768px is usually the width of tablets in portrait orientation */
    /* You can use any other size you see fit */
    .main{
        justify-content: center;
    }
    .brush-menu{
        width: 100%;
    }
        .brush-menu img {width: 70%;}
        
    }
