*{
    color: white;
    font-family: 'JetBrains Mono', monospace;
    margin: 0 0;
    padding: 0 0;
    
}
body{
    background: url(./assets/de0dib6-0d584820-45d9-49c8-a54d-a33b98ac8372.gif) center ;
    background-size: cover;
}
.main{
    display: flex;
flex-direction: column  ;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;

}
h3{
    font-weight: bold;
    color: white;
}
p{
    font-size: 1em;
}
.heading{
    margin-top: 2%;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#heading-gif{
    justify-content: center;
}
.box{
    background-color: rgb(19,25,98);
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

img{
    margin-top: 2%;
    width: 10%;
}
@media only screen and (max-width: 600px) {
    /* 768px is usually the width of tablets in portrait orientation */
    /* You can use any other size you see fit */
    
        img {width: 88%;}
        
    }