*{
    color: white;
    font-family: 'JetBrains Mono', monospace;
    margin: 0 0;
    padding: 0 0;
    
}
body{
    background: url(./assets/de0dib6-0d584820-45d9-49c8-a54d-a33b98ac8372.gif) center ;
    background-size: cover;
}
.main{
    display: flex;
flex-direction: column  ;
justify-content: center;
align-items: center;
width: 100vw;
height: auto;

}
h3{
    font-weight: bold;
    color: white;
}
p{
    font-size: 1em;
}
.heading{
    margin-top: 2%;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#heading-gif{
    justify-content: center;
}
.box{
    margin: 5% 0%;
    padding: 1.4% 0%;
    background-color: rgb(19,25,98);
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: left;
    /* justify-content: left; */
}

img{
    
    width: 30%;
}
a{
    text-decoration: underline rgb(172, 3, 172);
    /* font-size: 1.3rem; */
color: rgb(172, 3, 172);
font-weight: bold;
}
h2{
    color: rgb(172, 3, 172);
font-weight: bold;
}
@media only screen and (max-width: 600px) {
    /* 768px is usually the width of tablets in portrait orientation */
    /* You can use any other size you see fit */
    .box{
        background-color: transparent;
    }
        img {width: 88%;}
        a{
            margin: 5px 0px;
font-size: 0.6rem;
        }
        h3{
            font-size: 0.6rem;
            width: 80%;
        }
        .box{
            height: auto;
            width: 80%;
        }
        
    }
