*{
    color: white;
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    
}
body{
    background: url(./assets/de3etbq-9dd90da3-c812-436f-a301-17a361e99af9.gif) center ;
    background-size: cover;
}
.main{
    display: flex;
flex-direction: column  ;
justify-content: center;
align-items: center;
text-align: center;
width: 100vw;
height: 100vh;

}
p{
    font-size: 1em;
}
.heading{
    margin-top: 2%;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#heading-gif{
    justify-content: center;
}
.box{
   /* background-color: rgb(19,25,98);*/
    width: 60%;
    height: 60%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.music-row{
    
    width: 60%;
    height: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    outline: none;
    box-shadow: none;
}
.main{
    text-align: center;
    width: 100vw;
    
}
a{
    
    text-decoration: underline;
    margin-top: 8%;
    font-size: 1.3rem;
/* color: rgb(172, 3, 172); */
color: white    ;
text-shadow: violet;
font-weight: bold;
}
@media only screen and (max-width: 600px) {
    /* 768px is usually the width of tablets in portrait orientation */
    /* You can use any other size you see fit */
    .main{
        padding: 5% 0%;
    }
    a{
        margin-top: 86%;
font-size: 1rem;
    }
     .music-row{
            flex-direction: column;
            width: 80%;
    height: 80%;
        }
        img {width: 100%;}
        
    }
