*{

    background:url("./assets/0064_small.gif");
    background-size: cover;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    margin: 0 0;
    padding: 0 0;
    scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, .5) #f3f0f7;
  scrollbar-track-color: red;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
color: rgb(172, 3, 172);
font-weight: bold;
}
.main{
    display: flex;
flex-direction: column  ;
justify-content: center;
align-items: center;
width: 100vw;
text-align: center;
}
p{
    font-size: 1rem;
}
.heading{
    margin-top: 2%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#heading-gif{
    justify-content: center;
    width: 10%;
    height: auto;
}
#dir {
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: underline;
}
#dirr{
    margin-top: 0.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img{ 
    width: 14%;
    height: auto;
}
.mid-head{
    margin-top: 2%;
    font-size: 1.2rem;
    width: 48vw;
    text-align: center;
    font-weight: bold;
}
.mid-head img{
    width: 80%;
    height: auto;
}
#chain{
    margin-top: 1%;
    width: 37.8%;
    height: auto;
}
.sites{
    display: flex;
    justify-content: space-between;
    width: 35vw;
    flex-direction: row;
    gap: 4%;
}
.sites2{
    justify-content: space-evenly;
}
h5{
font-size: 1.3rem;
color: rgb(172, 3, 172);
}
h4{
    margin: 0.1% 0%;
    font-size: 1.5rem;
}
.gif-box{
    width: 36%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    margin-top: 1.7%;
    height: 1.5rem;
}
.gif-box img{
    width: 20%;
    height: 100%;
    border-radius: 0px;
    
}
#narayana-btn{
    width: 36%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    margin-top: 1.7%;
    height: 1.5rem;
}
#narayana-btn img{
    width: 20%;
    height: 100%;
    border-radius: 0px;
}
#narayana-btn:hover{
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    /* 768px is usually the width of tablets in portrait orientation */
    /* You can use any other size you see fit */
    h5{
        font-size: 0.5rem;
        
        }
        p{
            font-size: 0.5rem;
        }
        .mid-head{
            font-size: 0.5rem;
        }
        h4{
            
            font-size: 0.6rem;
        }
        a{
            font-size: 0.5rem;
        }
 
        .gif-box img{
            width: 30%;
            height: 50%;
        }
        #narayana-btn{
            width: 10%;
            height: 50%;
        }
        #narayana-btn img{
            width: 100%;
            height: 100%;
        }
    }