*{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    background: rgb(55,31,27) center ;
    background-size: cover;
    color: white;
    font-size: 0.95rem;
    font-weight: bold;
}
.main{
    display: flex;
flex-direction: column  ;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
}

@media only screen and (max-width: 600px) {
    /* 768px is usually the width of tablets in portrait orientation */
    /* You can use any other size you see fit */
    
        img {width: 40%;height: auto;}
h3{margin-top:1%;}
        
    }
